<div class="container user_category_new" data-indexes="<%= @indexes %>">
  <div class="row d-flex">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 mb-5">
      <%= render 'form', user_category: @user_category %>
    </div>
  </div>
</div>


<script>
  const formChecks = document.querySelectorAll(".form-check");
  const indexes = JSON.parse(document.querySelector(".container").dataset.indexes)
  indexes.forEach((index) => {
    formChecks[index].classList.toggle("active");
    formChecks[index].firstChild.checked = true
});
</script>
