<div class="container user_category_new">
  <div class="row d-flex">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'form', user_category: @user_category %>
    </div>
  </div>
</div>
