<div class="footer w-100">
  <div class="footer-links w-100 d-flex flex-row justify-content-between">
    <div class= "button-footer">
    <%= image_tag "Vibe-Icon.png" %>
    </div>
    <div class= "button-footer">
    <%= image_tag "Add-Event-Icon.png" %>
    </div>
    <div class= "button-footer">
    <%= image_tag "Saved-Icon.png" %>
    </div>
    <div class= "button-footer">
    <%= image_tag "Profile-icon.png" %>
    </div>
  </div>
</div>
