<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-content-center text-center">
  <div class="index-navbar justify-content-between d-flex w-100">
    <%= link_to filter_user_categories_path, class: "search-logo" do %>
    <div class="nav-filter d-flex">
      <%= image_tag "filtericonnew.svg" %>
    </div>
    <%end%>
    <%= link_to activities_path, class: "navbar-brand" do %>
      <%= image_tag "Shabbo.svg" %>
    <% end %>
  </div>
</div>
