<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-content-center text-center">
  <div class="index-navbar justify-content-between d-flex w-100">
    <%= link_to new_user_category_path, class: "search-logo" do %>
      <%= image_tag "filter1.svg" %>
    <%end%>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "shabbo.png" %>
    <% end %>
  </div>
</div>
