<div class="landingpage d-flex flex-column">

  <%= image_tag "LandingPageFinal.svg" %>
  <div class="sign-in">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
