.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}


#max-error {
  color: red;
  display: none;
}

#min-error {
  color:red;
}

.swal-button--confirm {
  opacity: 0 !important;
}
