.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 160px;
  max-width: 160px;
  margin: 20px;
  height: 210px;
  border-radius: 10px;
}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-img img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-img

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

#show-cont {
  width: 95%;
  height: 80vh;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  img{
    width: 100%;
    max-width: 538px;
    height: 50%;
  }
}


#bookbtn {
  text-align: center;
  width: 100px;
  height: 40px;
  background-color:white;
  color: #4024EE;
  border-color: #4024EE;
  display: block;
  width: 100%;
  border: 1px solid;
  padding: 10px 0px;
  border-radius: 5px;
  margin-top: 10px;
}

.service-info {

  h1, h2, h3 ,p {
    margin-bottom: 0;
  }

}


.review-card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}
.review-card-bottom{
  padding-bottom: 10px;
}

.review-cont {
  width:100%;
}
.fa-star{
  color: yellow;
  font-size: 10px;
}

.activityaddress{
  font-size: 6px
}

.card-weekend {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 335px;
  max-width: 335px;
  max-height: 150px;
  margin: 20px;
  height: 210px;
  border-radius: 10px;
}

.weekend-card-inten {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.card-weekend .card-weekend-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-weekend img {
  max-width:100px;
  max-height: 80px;
  min-width:100px;
  min-height: 80px;
}

.weekend-info h3{
  font-size: 15px;

}

.unbook{
  margin-left: --100px;
  margin-top: 40px;
  text-color: grey !important;
}

.weekend-info {
  margin-left: 5px;
}

.url{
  margin-left: 10px;
}
.rating-weekend {
  margin-left: 5px;
  margin-top: -10px;
}

.btn-url {
  width:140px !important;
}

