.footer {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 5px;
  color: #FFFFFF;
  content-align: left;
  position: fixed;
  bottom: 0;
  margin-top: 100px;
}

.button-footer {
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.yield-container{
  padding-bottom: 20px;
}
