
.profile-center{
  margin: 30px;
  background-color: white;
  border-radius: 10px;
}

.info {
  background: white;
}

.avatar-profile {
  position: relative;
  top: -60px;
}


.profile-frame {
  width: 100vw;
}

.avatar-name{
  margin-top: -55px;
}

.interest-profile{

  margin-top: 15px;
}

.user-activities{
  margin-top: 10px;
}

.signout-user {
  margin-left: 200px;
}

.activity-title {
  margin-left: 2px;
}

.profile-category {
  color: black;
  background-color: rgba(170, 208, 253, 0.6);
  padding: 2px 5px;

}
