
.profile-center{
  margin: 30px;
  background-color: white;
  border-radius: 10px;
}

.info {
  background: white;
}

.avatar-profile {
  position: relative;
  top: -45px;
}


.profile-frame {
  width: 100vw;
}
