.show-img {
  max-height: 375px;
  min-height: 375px;
  width: 100%;
  margin-top: -70px;
}

.show-title{
  text-decoration: underline;

}

.reviews {
  padding-bottom: 50px;
}

.review-avatar{
  height: 30px;
  border-radius:5px;
}

.rating-stars{
  margin-top: -10px;
  margin-bottom: 10px;
}

.review-name p{
  font-size: 10px;
  margin-top: -10px;
}

.review-text{
  margin-top: -10px;
}

.activity-categories{
  margin-left: -90px;
}

.show-titles{
  margin-left: 4px;
}
