.show-img {
  max-height: 375px;
  min-height: 375px;
  width: 100%;
}

.reviews {
  padding-bottom: 50px;
}

.review-avatar{
  height: 30px;
  border-radius:5px;
}

.rating-stars{
  margin-top: -10px;
  margin-bottom: 10px;
}

.review-name p{
  font-size: 10px;
  margin-top: -10px;
}

.review-text{
  margin-top: -10px;
}

