.container-new{
  margin-bottom: 50px !important;
}

.log-in{
  margin-left: -15px;
}

.row-cards {
  overflow-x: auto !important;
  max-width: calc(100vw - 60px);
}

.big-btn{
  width: 150px !important;
}

.log-in-logo{
  max-width: 190px;
  max-length: 220px;
  margin-left: 80px;
}
