<div class="edit">
  <div class="form">
    <div class="form">
      <%= render 'form', activity: @activity %>
    </div>
    <div class="image">
      <%= image_tag "share.svg" %>
    </div>
  </div>
</div>

