<div class="edit">
  <div class="form">
<h3>Share something with Shabbo!</h3>
    <%= render 'form', activity: @activity %>
  </div>
  <div class="image">
    <%= image_tag "share.svg" %>
  </div>
</div>
