<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-content-center text-center">
  <div class="index-navbar align-content-center d-flex">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "shabbo.png" %>
    <% end %>
  </div>
</div>

<%= cl_image_tag @activity.image %>

<%= link_to activity_path(@activity), method: :delete, data: { confirm: 'Are you sure you want to delete this service?' } do %>
<p class="btn btn-warning">Delete this service</p>
<%end%>
