<div class="edit">
  <div class="form">
<h3>Go ahead, write a review about <%= @activity.title %>!</h3>
    <%= render 'form', review: @review %>
  </div>
  <div class="image">
        <%= cl_image_tag @activity.image %>
  </div>
</div>
