<div class="edit">
  <div class="form">
    <div class="review-title d-flex align-text-center">
      <h3>Go ahead, write a review about <%= @activity.title %>!</h3>
    </div>
    <%= render 'form', review: @review %>
  </div>
  <div class="image">
  </div>
</div>
